<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/1-teton-drama-andrew-soundarajan.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2" >Views - 102200</small>
                    <small class="bg-light text-warning text-center ml-2">LAST UPDATED - SEP 20,2023</small>
                    <h1 class="mt-3 mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iusto.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex ratione sit fugit blanditiis. Corporis voluptates repudiandae impedit possimus veniam aliquid unde dolorem? Culpa, magni incidunt repellendus quisquam, numquam quo laborum veniam natus saepe in cum dicta omnis aliquam accusamus ad nulla deleniti sed fugit voluptate consequatur rerum alias repudiandae. Odit, tempore quas. Debitis non quasi corrupti sint numquam quod aut vel earum dicta officiis mollitia laborum, consequatur itaque ea repellendus explicabo tenetur dolorem quam? Recusandae mollitia cupiditate atque, id placeat est perspiciatis fuga delectus beatae vitae unde voluptates. Eveniet, esse in dolorum illo itaque voluptatibus vero accusamus incidunt eos voluptates.</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>