<div class="card shadow-effect">
    <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/digital-life-kaushik-dolui.jpg"
        alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design</small>
        <small class="bg-light text-success text-center ml-3"> featured</small>
        <small class="bg-light text-success text-center ml-3"> Views- 100,256</small>
        <h5 class="mt-1">Lorem ipsum dolor sit amet.</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, tempore, consequatur reprehenderit omnis,
            repellat ipsum dicta saepe ipsa totam recusandae dolore sunt quos doloremque eligendi vitae aperiam in hic
            veniam.</p>
        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED- SEP 20, 2021</small>

    </div>
</div>
